<div class="filter-card">
            <div class="wrapper mb-3">
               <div class="sub_title ps-2"><h4>Make</h4></div>
               <div class="filter-dropdown">
                  <div class="drop-input">
                     <div class="dropdown-selected">
                        <span id="filter-values">Make:</span>
                        <span class="text-danger fs-5 fw-bold" id="reset-filter">x</span>
                     </div>
                     <span class="drop-icon">></span>
                  </div>
                  <div class="dropdown-list">
                     <div class="dropdown-item" data-value="recent">Recenly Added</div>
                     <div class="dropdown-item" data-value="model">Recent Model</div>
                     <div class="dropdown-item" data-value="lowest_price">Low to High Price</div>
                     <div class="dropdown-item" data-value="highest_price">High to Low Price</div>
                     <div class="dropdown-item" data-value="mileage">Lowest Mileage</div>
                  </div>
                  <input type="hidden" name="current-filters" id="current-filter" value="all">
               </div>
            </div>
            
            <div class="wrapper mb-3">
               <div class="sub_title ps-2"><h4>Body Type</h4></div>
               <div class="filter-dropdown">
                  <div class="drop-input">
                     <div class="dropdown-selected">
                        <span id="filter-values">Body Start:</span>
                        <span class="text-danger fs-5 fw-bold" id="reset-filter">x</span>
                     </div>
                     <span class="drop-icon">></span>
                  </div>
                  <div class="dropdown-list">
                     <div class="dropdown-item" data-value="recent">Recenly Added</div>
                     <div class="dropdown-item" data-value="model">Recent Model</div>
                     <div class="dropdown-item" data-value="lowest_price">Low to High Price</div>
                     <div class="dropdown-item" data-value="highest_price">High to Low Price</div>
                     <div class="dropdown-item" data-value="mileage">Lowest Mileage</div>
                  </div>
                  <input type="hidden" name="current-filters" id="current-filter" value="all">
               </div>
            </div>
         </div>